Repository kowainik/relude, pull requests merged in 2019-05, with the labels that each got.

#157 [#155] Add a `foldlSC` method
  CHANGELOG.md
  relude.cabal
  src/Relude.hs
  src/Relude/Extra/Foldable.hs
Labels: enhancement, extra

#159 [#158] Bump up to GHC-8.6.5
  .travis.yml
  README.md
  relude.cabal
  stack.yaml
  test/Doctest.hs
Labels: CI

#163 Implement `Relude.Extra.Types` module
  src/Relude/Extra/Type.hs
Labels: extra
