Repository kowainik/relude, pull requests merged in 2020-08, with the labels that each got.

#318 Added `average` and `average1` functions
  src/Relude/Extra/Foldable.hs
  src/Relude/Extra/Foldable1.hs
Labels: extra

#322 add foldr1 to Foldable1
  src/Relude/Extra/Foldable1.hs
Labels: extra

#321 Add partitionWith function
  src/Relude/List.hs
Labels: new

#329 [#328] Document that mixins doesn't work with stack repl
  README.md
Labels: doc, question
